/*******************************************************
* Copyright 2018 Aurionpro Solutions Limited
*
* This file is part of Aurionpro Designer tool.
* It can not be copied and/or distributed without the express
* permission of Aurionpro Solutions Limited.
*
* Author: Kuldeep.Bhatt, Zymr
*******************************************************/
.socialicon {
    font-size: 50px !important;
    color: blue;
}
.sociallinkplaceholder {
    min-height:50px !important;
    min-width:50px !important;
}
.carousel-inner > .item > img,.carousel-inner > .item > a > img {
      /*width: 70%;*/
      margin: auto;
}
.carousalclass {
    width:100% !important;
    height:100px !important;
}
.carousel-inner {
    width: 100% !important;
    height: 100%;
}
.gmap-container {
    width: 100%;
    height: 200px;
    background-color: grey;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    border: 0 !important;
}
.row, .form-builder-preview {
    width: 100% !important;
}
.form-builder-preview {
    padding: 10px;
}
.delete-icon {
    display: none;
}
text {
    font-family: sans-serif;
    font-size: 12px;
    /*fill: blue;*/
}
.graphtooltip {
    position: fixed !important;
    width: 100px !important;
    height: auto !important;
    padding: 10px !important;
    background-color: white !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4) !important;
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.bar {
  /*fill: #0000ff;*/
}

.bar:hover {
  fill: red;
}
.bartext {
    fill: #000000;
}
.axis--x path {
  display: none;
}
.delete-icon {
    z-index:1000;
}
/*for NOw*/
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
  
.axis-title{
  fill: #5B6770;
  letter-spacing: 1px;
}

.line {
  stroke: #27689d;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 2,4;
}
.chart-container {
  /*height:100%;*/
  /*min-width: 200px;*/
  min-height: 300px;
  border: 0px dotted silver;
}
.svg-content-responsive {
    display: inline-block;
    /*position: absolute;
    top: 20px;
    left: 20px;*/
}
.container-fluidbody
{
         padding-right: 0px !important; 
     padding-left: 0px !important; 
     margin-right: 0px !important; 
     margin-left: 0px !important; 
}
.row
{
    margin-left: 0px !important;
}
rect {
    stroke-width: 2;
  }
.legend {
    font-size: 12px;
  }